/* font-family: 'Source Sans Pro', sans-serif; */
/* General styling - Includes flex commands*/

.flex-container{
    display: flex;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

body{
    background-color: #2d2d2d;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
}

.header-links{
    justify-content: space-between;
    align-items: flex-start;
    padding: 26px 20px;
}

.header-links div:first-child{
    padding-top: 7px;
    margin: auto 20px auto 14px;
    align-self: center;
}

.toggle-menu{
    margin-top: 1rem;
}

.toggle-menu span{
    height: 5px;
    width: 35px;
    background-color: #6017a3;
    display: block;
}

.toggle-menu span:nth-child(2){
    margin: 6px 0;
}

header, .teams, .card{
    background-color: #ebebeb;  
}

section{
    padding: 0 1.25rem;
    
}

.banner{
    background-image: url(../img/banner-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-size: 400px 200px;
    text-align: center;
    height: 200px;
    color: #fff;
    line-height: 30px;
    padding: 53px 44px 0px;
}

.cards{
    flex-direction: column;
}

.teams{
    padding-top: 57px;
    text-align: center;
    line-height: 22px;
    color: #7b7b7b;
}

.teams>div{
    margin-top: 25px;
}

.team h3{
    margin-top: 33px;
}

.teams p{
    margin-top: 1.125rem;
}

.team{
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.team > div{
    width: 165px;
}

/* Menu Styling */

nav ul{
    flex-direction: column;
}
nav li{
    background-image: linear-gradient(#fefefe, #eeeeef);
    border-bottom: 1px solid #d4d4d4;
}

nav li:last-of-type{
    border-bottom: 5px solid #6017a3;
}

nav li:hover{
    cursor: pointer;
    background-image: linear-gradient(#fff, #ddddde);
}

nav a{
    display: block;
    line-height: 3.75rem;
}

nav img{
    display: inline-block;
    margin: 0 1.5rem 0 1rem;
    vertical-align: middle;
}

nav{
    position: absolute;
    width: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s ease-in-out;
}

.show-nav{
    max-height: 30rem;
}


/* Typography - Font Families, Sizes, Weights Stylings */

li{
    text-transform: capitalize;
}

a{
    color: #000;
    text-decoration: none;
}
header h1 a{
    color: #6017a3;
    font-weight: 900;
    font-size: 56.82px;
    line-height: 46.59px;
}

header p{
    font-style: italic;
    color: #7d7d7d;
}

.banner h2{
    font-size: 31px;
    font-weight: 900;
    margin-bottom: 14px;
}
.banner p{
    font-size: 1.25rem;
}

.teams h2{
    font-size: 2rem;
    font-weight: 300;
}

.team h3{
    font-size: 1.25rem;
}